.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

pre {
  text-align: left;
  white-space: pre-line;
}
